# Environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Streamlit secrets (não versionar)
.streamlit/secrets.toml

# SO junk
.DS_Store

# Planilhas temporárias do Excel
data/~$*.xlsx

# Opcional: versionar apenas o arquivo principal de dados
# data/*.xlsx
# !data/valores.xlsx
.venv